* {
    margin: 0;
}
.ball {
    width: 100px;
    height: 100px;
    background-color: red;
    clip-path: circle();
    position: absolute;
    bottom: 30vh;
    animation: moveball 10s infinite linear, bouncing 0.7s 0.3s infinite ease-in-out;
}
.ground {
    border-top: 20px black solid;
    position: relative;
    top: 70vh;
}
@keyframes moveball {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
    
}
@keyframes bouncing {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-120px);
    }
    100% {
        transform: translateY(0);
    }
}
