* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(
      to bottom,
      rgba(2, 0, 36, 0.01) 0%,
      rgba(8, 0, 2, 0.4) 0%,
      rgba(10, 1, 3, 0.7707457983193278) 100%
    ),
    url(../images/background-body.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

body.light {
  background-color: white;
}
