.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;

  form {
    display: flex;
    flex-direction: column;

    .field {
      width: 100%;
      border-radius: 6px;
    }

    .contact-buttons-container {
      align-self: center;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      margin-top: 2rem;

      input {
        border-radius: 6px;
        cursor: pointer;
        border: none;
      }

      .send-btn {
        background-color: #3d91bf;
        color: white;
      }

      .reset-btn {
        background-color: red;
        color: white;
      }
    }
  }
}
