.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: rgb(41, 37, 37);
    z-index: 1;

    .img-container {
        width: 12%;
        img {
            width: 100%;
        }
    }

    .pages {
        display: flex;
        align-items: center;
        gap: 20%;

        .burger-menu {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            cursor: pointer;
            position: absolute;
            right: 5000px;

            .page {
                text-decoration: none;
                color: white;
                font-weight: 600;
                background-color: transparent;
                font-size: 1.5rem;
                font-family: 'Ibarra Real Nova', serif;
            }
        }

        .burger-menu.on {
            flex-direction: column;
            align-items: center;
            position: fixed;
            right: 0;
            top: 0;
            background-color: #192227cd;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            transition-duration: 500ms;
            transition: ease-in-out;
        }
    }

    .pages-desktop {
        display: none;
    }

    .social {
        display: flex;
        justify-content: center;
        text-decoration: none;
        width: 50%;
        gap: 15%;

        a {
            color: white;
            font-size: 1.5rem;
        }

        a:hover {
            transform: scale(1.5);
        }
    }

    .bar-button {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .bar {
            background-color: gray;
            height: 5px;
            border-radius: 10px;
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .middle.open {
            display: none;
        }

        .top.open {
            transform: rotateZ(-45deg) translate(-7px, 7px);
            width: 100%;
            opacity: 0.5;
        }

        .bottom.open {
            transform: rotateZ(45deg) translate(-6.5px, -6.5px);
            width: 100%;
            opacity: 0.5;
        }
    }
}