.projects {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .projects-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .project{
            display: flex;
            justify-content: center;
        }
        a {
            text-decoration: none;
            text-align: center;

            span {
                color: $cColor;
            }

            .project-description {
                width: 15rem;
                padding-top: 3%;
                margin: 0 auto;
                color: white;
                text-shadow: -5px 5px 4px rgba(255, 255, 255, 0.88);
            }
        }
    }

    img {
        width: 45%;
        height: 60%;
        object-fit: cover;
        margin: 10% 0;
        border-radius: 2%;
        -webkit-box-shadow: -10px 10px 15px -1px rgba(255, 255, 255, 0.83);
        box-shadow: -10px 10px 15px -1px rgba(255, 255, 255, 0.83);
    }

    .project-name {
        color: white;
        text-shadow: -5px 5px 4px rgba(255, 255, 255, 0.88);
        text-align: center;
    }
}