// mobile landscape
@media(min-width: 800px) and (max-height: 331px) {
    .header {
        .img-container {
            width: 6%;
        }
        .pages {
            display: none;
        }
        .pages-desktop {
            display: flex;
            gap: 10%;
            .page-desktop {
                text-decoration: none;
                color: white;
            }
        }
        .social {
            width: 20%;
            display: flex;
            justify-content: space-around;
        }
        .bar-button {
            display: none;
        }
    }

    .home {
        .info {
            margin-left: 5%;
        }
        .sub-home {
            width: 100%;
            background-position: 100% -60px;
            background-size: contain;
            position: absolute;
        }
    }

    .about {
        margin-top: 12rem;
    }

    .skills {
        .carousel {
            .logo {
                width: 20%;
                padding: 0;
                margin: 5% 0;
                margin-left: 40%;

                img {
                    width: 100%;
                }
            }
        }
    }

    .projects {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

        .projects-container {
            flex-wrap: wrap;
                a {
                    img {
                        width: 160px;
                    }
                }
            }
    }

    .contact-container {
        margin-top: 10%;

        form {
            width: 70%;
        }
    }
}

@media (min-width: 599px) and (min-height: 332px) {
    .header {
        width: 100%;

        .img-container {
            width: 8%;
            margin-left: 5%;
        }

        .pages {
            display: none;
        }

        .pages-desktop {
            margin-left: 10%;
            display: flex;
            gap: 10%;
            width: 60%;

            .page-desktop {
                text-decoration: none;
                color: white;
            }
        }

        .bar-button {
            display: none;
        }
    }

    .home {
        padding-top: 15rem;

        .info {
            margin-top: 10%;
        }

        .sub-home {
            background-position: 100% -20px;
            background-size: 80%;
            height: 50rem;
            width: 105%;
        }
    }

    .skills {
        .logo {
            img {
                width: 40%;
            }
        }
    }

    .projects {
        .projects-container {
            width: 100%;
            gap: 3rem;
            flex-direction: row;
            flex-wrap: wrap;

            a {
                img {
                    width: 250px;
                }

                .project-description {
                    visibility: hidden;
                }
            }

            a:hover .project-description {
                visibility: visible;
                transition-duration: 10s;
            }
        }
    }

    .contact-container {
        form {
            width: 40%;
        }
    }
}

@media(min-width: 800px) and (min-height: 332px) {
    .header {
        .img-container {
            width: 4%;
            margin-left: 0;
        }

        .social {
            width: 20%;
        }
    }

    .home {
        padding-top: 0;


        a {
            z-index: 10;
        }

        .sub-home {
            width: 100%;
            position: absolute;
            background-position: top right;
            background-size: contain;
        }
    }

    .about {
        margin-top: 30rem;
        padding-top: 5rem;
        width: 50%;
        margin-bottom: 5rem;

        .skills {
            .carousel {
                .logo {
                    padding: 0;
                }
            }
        }

    }

    .carousel {
        .logo {
            width: 70%;
            margin-left: 15%;

            img {
                width: 10%;
            }
        }
    }

    .projects {
        margin-bottom: 10rem;
    }

    .contact-container {
        margin-bottom: 40rem;
    }
}

@media(min-width: 800px) and (min-height: 851px) {
    .home {
        padding-top: 13rem;
    }

    .projects {
        padding-top: 10rem;

        .projects-container {
            padding-top: 5rem;
            .project{
            width: 30%;
            display: flex;
            justify-content: center;
            }
        }
    }


}