.home {
  display: flex;
  flex-direction: column;
  padding-top: 8rem;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    margin-left: 5%;

    h2 {
      color: red;
      font-size: 20px;
    }

    a {
      text-decoration: none;
      background-color: azure;
      width: fit-content;
      border-radius: 6px;
      padding: 0.5rem;
      color: red;
    }
  }

  .sub-home {
    height: 27rem;
    background-image: url(../images/IMG_9752-removebg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 20px;
    opacity: 0.7;
  }

}

.info h1:nth-child(1) {
  font-family: 'Fira Code', monospace;
  font-weight: 800;
  font-size: 20px;
  margin: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 290px;
  animation: type 3s steps(40, end) forwards;
}

.info h2:nth-child(2) {
  font-family: 'Fira Code', monospace;
  font-weight: 800;
  font-size: 20px;
  margin: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 290px;
  animation: type1 3s steps(40, end) forwards;
  animation-delay: 3s;
  opacity: 0;
}

@keyframes type {
  0% {
    width: 0;
  }

  1%,
  99% {
    border-right: 1px solid orange;
  }

  100% {
    border-right: none;
  }
}

@keyframes type1 {
  0% {
    width: 0;
    opacity: 1;
  }

  1%,
  99% {
    opacity: 1;
    border-right: 1px solid orange;
  }

  100% {
    opacity: 1;
    border-right: none;
  }
}