.projects{
    // border: solid 1px green;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .projects-container{
        // border: solid 1px green;
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 5%;
        flex-wrap: wrap;
        a{
            // border: solid blue 1px;
            text-decoration: none;
            color: white;
            text-align: center;
        }
    }
    img{
        width: 80%;
        margin: 10%;
        border-radius: 2%;
        -webkit-box-shadow: -10px 10px 15px -1px rgba(255,255,255,0.83); 
                box-shadow: -10px 10px 15px -1px rgba(255,255,255,0.83);
    }
}