@media (min-width: 599px) and (min-height: 332px){
    .header{
        // border: yellow 1px solid;
        width: 100%;
        .imgContainer{
            width: 8%;
            img{

            }
        }
        .pages{
            display: none;
        }
        .pages-desktop{
            margin-left: 10%;
            display: flex;
            gap: 10%;
            width: 60%;
            // border: solid blue 1px;
            .page-desktop{
                text-decoration: none;
                color: white;
            }
        }
        .barButton{
            display: none;
        }
    }
    .home{
        // border: solid 1px red;
        .subHome{
            background-position: 100% -20px;
            background-size: 50%;
        }
        .info{

        }
    }
    .about{
        // border: solid green 1px;

    }
    .skills{

        .logo{

            img{
                width: 40%;
            }
        }
    }
    .projects{
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        // border: solid 1px green;
        .projects-container{
            flex-direction: row;
            a{
                
                img{
                    // border: solid 1px green;                
                    width: 160px;
                }
            }
        }
    }

}
@media(min-width: 800px) and (max-height: 331px){
    .header{
        // border: solid green 1px;
        .imgContainer{
            width: 6%;
        }
        .pages{
            display: none;
        }
        .pages-desktop{
            display: flex;
            gap: 10%;
            .page-desktop{
                text-decoration: none;
                color: white;
            }
        }
        .barButton{
            display: none;
        }
    }
    .home{
        align-items: flex-start;
        padding-top: 5rem;
        .subHome{
            // border: solid green 1px;
            width: 100%;
            background-position: 100% -60px;
            background-size: contain;
        }
        .info{
            // align-items: center;
        }
    }
    .about{
        text-align: center;
    }
    .skills{
        .logo{
            // border: solid 1px green;
            padding: 5% 2%;
            margin: 0;
            .skill{
                
            }
            img{
                width: 10%;
            }
        }
    }
    .projects{
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        .projects-container{
            flex-wrap: nowrap;
            // border: solid 1px green;
            a{
                img{
                    // border: solid 1px green;                
                    width: 160px;
                }
            }
        }
    }
}
@media(min-width: 800px) and (min-height: 332px){
    .home{
        .info{
            align-items: center;
        }
    }
}