@media(min-width: 800px) and (max-height: 331px) {
    .header {
        .imgContainer {
            width: 6%;
        }

        .pages {
            display: none;
        }

        .pages-desktop {
            display: flex;
            gap: 10%;

            .page-desktop {
                text-decoration: none;
                color: white;
            }
        }

        .social {
            width: 20%;
            display: flex;
            justify-content: space-around;
        }

        .barButton {
            display: none;
        }
    }

    .home {
        .info {
            margin-left: 5%;
        }

        .subHome {
            width: 100%;
            background-position: 100% -60px;
            background-size: contain;
            position: absolute;
        }
    }

    .about {
        margin-top: 12rem;
    }

    .skills {
        .carousel {
            .logo {
                width: 20%;
                padding: 0;
                margin: 5% 0;
                margin-left: 40%;

                img {
                    width: 100%;
                }
            }
        }
    }

    .projects {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

        .projects-container {
            flex-wrap: nowrap;

            a {
                img {
                    width: 160px;
                }
            }
        }
    }

    .container-contact {
        margin-top: 10%;

        form {
            width: 70%;
        }
    }
}

@media (min-width: 599px) and (min-height: 332px) {
    .header {
        width: 100%;

        .imgContainer {
            width: 8%;
            margin-left: 5%;
        }

        .pages {
            display: none;
        }

        .pages-desktop {
            margin-left: 10%;
            display: flex;
            gap: 10%;
            width: 60%;

            .page-desktop {
                text-decoration: none;
                color: white;
            }
        }

        .barButton {
            display: none;
        }
    }

    .home {
        padding-top: 15rem;

        .info {
            margin-top: 10%;
        }

        .subHome {
            background-position: 100% -20px;
            background-size: 80%;
            // border: solid 1px red;
            height: 50rem;
            width: 105%;
        }
    }

    .about {
    }

    .skills {
        .logo {
            img {
                width: 40%;
            }
        }
    }

    .projects {
        .projects-container {
            // border: solid 1px green;
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            a {
                img {
                    // border: solid 1px green;                
                    width: 250px;
                }
                .projectDescription{
                    visibility: hidden;
                }
            }
            a:hover .projectDescription{
                // background-color: green;
                visibility: visible;
                transition-duration: 10s;
            }
        }
    }
    .container-contact{
        form{
            width: 60%;
        }
    }
}

@media(min-width: 800px) and (min-height: 332px){
    .header{
        .imgContainer {
            width: 4%;
            margin-left: 0;
        }
        .social{
            width: 20%;
        }
    }
    .home{
        padding-top: 0;
        .info{
            // align-items: center;
        }
        a{
            z-index: 10;
        }
        .subHome{
            // border: solid red 1px;
            width: 100%;
            position: absolute;
            background-position: top right;
            background-size: contain;
        }
    }
    .about{
        margin-top: 30rem;
        padding-top: 5rem;
        width: 50%;
        margin-bottom: 5rem;
        .skills{
            .carousel{
                .logo{
                    padding: 0;
                }
            }
        }

    }
    .carousel{
        .logo{
            width: 70%;
            margin-left: 15%;
            .skill{
            }
            img{
                width: 10%;
            }
        }
    }
    .projects{
        margin-bottom: 10rem;
    }

    .container-contact{
        margin-bottom: 40rem;
    }
}