    .skills{
        // height: 16rem;
        display: flex;
        align-items: center;
        border: solid 1px green;
        // .skill{
        //     width: fit-content;
        //     height: fit-content;
        //     background-color: gray;
        //     margin: 0.5rem;
        //     padding: 0.5rem;
        //     border-radius: 6px;
        //     text-shadow: -1px 1px 5px red;
        //     }
        .logos{
            background-image: url(../images/IMG_9752-removebg.png);
            height: 10rem;
        }
        }
   