    .skills{
        display: flex;
        align-items: center;
        .logo{
            padding: 15% 6%;
            display: flex;
            flex-direction: column;
            align-items: center;
            // border: solid 1px green;
            margin-top: 20%;
            .skill{
                margin-top: 1rem;
                color: red;
                text-shadow: -5px 5px 4px rgba(255,255,255,0.88);
            }
            img{
                background-color: white;
                width: 50%;
                border-radius: 10%;
                // -webkit-box-shadow: -10px 10px 15px -1px rgba(0,0,0,0.83); 
                // box-shadow: -10px 10px 15px -1px rgba(0,0,0,0.83);
                -webkit-box-shadow: -10px 10px 15px -1px rgba(255,255,255,0.83); 
                box-shadow: -10px 10px 15px -1px rgba(255,255,255,0.83);
            }
        }
        }
   