@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@600&display=swap');
@import './base.scss';
@import './variables.scss';
@import './app.scss';
@import './header.scss';
@import './home.scss';
@import './about.scss';
@import './skills.scss';
@import './contact.scss';