.projects{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .projects-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .project{
            margin: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            a{
                text-decoration: none;
                text-align: center;
                img{
                    width: 250px;
                    height: 250px;
                    object-fit: cover;
                    object-position: top;
                    margin: 10% 0;
                    border-radius: 2%;
                    -webkit-box-shadow: -10px 10px 15px -1px rgba(255, 255, 255, 0.83);
                    box-shadow: -10px 10px 15px -1px rgba(255, 255, 255, 0.83);
                }
                .project-name{
                    color: white;
                    text-shadow: -5px 5px 4px rgba(255, 255, 255, 0.88);
                    text-align: center;
                    span{
                        color: $cColor;
                    }

                }
                .project-description{
                    width: 15rem;
                    height: 100px;
                    padding-top: 3%;
                    margin: 0 auto;
                    color: white;
                    text-shadow: -5px 5px 4px rgba(255, 255, 255, 0.88);
                }
            }
            .github-link{
                margin-top: 4rem;
                text-decoration: none;
                background-color: azure;
                width: fit-content;
                border-radius: 6px;
                padding: 0.5rem;
                color: red;
            }
        }
    }
}