*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-home{
    background-image: linear-gradient(to bottom, rgba(2,0,36,0.01) 0%, rgba(8,0,2,0.6839110644257703) 0%, rgba(10,1,3,0.7707457983193278) 100%), url(../images/newbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container-about{
    height: 100vh;
    background: linear-gradient(0deg, rgba(78,129,115,1) 0%, rgba(109,120,122,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-projects{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, rgba(78,129,115,1) 0%, rgba(109,120,122,1) 100%);
}
.container-contact{
    height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, rgba(78,129,115,1) 0%, rgba(109,120,122,1) 100%);
}