main{
    color: white;
    position: absolute;
    top: 40%;
    left: 17%;
    h1{
        font-size: 80px;
    }
    p{
        width: 60%;
        margin-bottom: 2rem;
    }
    a{
        padding: 0.5rem;
        background-color: #89181e;
        color: white;
        text-decoration: none;
    }
    
}

.personal{
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 30%;

}

.project-1{
    height: 200px;
    width: 400px;
    background-image: url(../images/portfolio-exercise.png);
    background-size: cover;
    display: flex;
    position: absolute;
    left: 20%;
    top: 20%;
    box-shadow:10px 10px 10px tomato;
    a{
        width: 100%;
    }
    .project-1:hover{
        box-shadow: 0 0 0 transparent;
    }
    .project-1:active{
        transform: translateY(10px);
    }
}

