header{
    
    .nav-top{
        display: flex;
        position: fixed;
        top: 2rem;
        left: 0;
        width: 100vw;
        margin: 2rem 0;
        background-color: rgba($color: #252020, $alpha: 0.7);
        align-items: center;
        z-index: 100;
        a{
            text-decoration: none;
            color: darkgoldenrod;
            padding: 1.2rem;
        }
        .icon{
            display: flex;
            img{
                width: 15%;
                opacity: 0.5;
            }
            .name{
                margin-left: 1rem;
                margin-top: 0.5rem;
                color: white;
                h6{
                    letter-spacing: 0.05rem;
                }
            }
        }
        ul{
            display: flex;
            margin-left: auto;
            li{
                display: flex;
                list-style-type: none;
                margin: 0 1rem;
                a:hover{
                    border-bottom: #001d4f 3px solid;
                    cursor: pointer;
                }
            }
        }
    }
    .burger-menu{
        display: none;
    }
    
}

