main{
    color: white;
    position: absolute;
    top: 40%;
    left: 17.5%;
    h1{
        font-size: 80px;
    }
    p{
        width: 60%;
        height: 60%;
        margin-bottom: 2rem;
    }
    a{
        padding: 0.5rem;
        background-color: $clr-secondary;
        color: white;
        text-decoration: none;
    }
    
}
.container-about{
    .about{
        color: white;
        text-align: center;
        margin: 0 auto;
        width: 30%;
        margin-bottom: 10rem;
        h1{
            font-family: 'BenchNine', sans-serif;
            color: $clr-secondary;
            font-size: 3rem;
        }
        h3{
            color:rgb(61, 10, 16);
            font-family: 'BenchNine', sans-serif;
            font-size: 1.8rem;
        }
        p{
            color: $text-color;
        }
        }
}
.sub-container-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 65%;
}
.project{
    background-color: rgb(205, 195, 195);
    height: 45%;
    width: 40%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}
.pic{
    height: 60%;
    background-size: cover;
    border-radius: 16px;
    img{
        width: 100%;
        border-radius: 16px;
    }
}
.text{
    text-align: center;
    margin-top: 15%;
}
.button{
    margin: 1rem auto;
    a{
        text-decoration: none;
        background-color: $clr-secondary;
        color: $clr-primary;
        padding: 0.5rem;
        border-radius: 6px;
    }
    a:hover{
        background-color: transparent;
        border: solid 2px rgb(44, 10, 10);
        transition-duration: 1s;
    }  
}
.form-container{
    display: flex;
    gap: 10rem;
    justify-content: center;
    .info{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 20%;
        label{
            margin-top: 5rem;
        }
    }
}
form{
    display: flex;
    flex-direction: column;
    input{
        background-color: transparent;
        border: black solid 1px;
        border-radius: 3px;
        height: 1.5rem;
    }
    textarea{
        background-color: transparent;
        border: black solid 1px;
        border-radius: 8px;
    }
    .message{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        input{
            margin: 0 auto;
            margin-top: 2rem;
            padding:  0.5rem 2rem;
            cursor: pointer;
            
        }
        input:hover{
            background-color: $clr-secondary;
            color: $clr-primary;
            transition: 1s;
        }
        .submit{
            width: 20rem;
            display: flex;
            justify-content: space-between;
        }
    }
}
