main{
    position: absolute;
    top: 40%;
    left: 17.5%;
    h1{
        font-size: 80px;
        color: $clr-secondary;
    }
    p{
        width: 60%;
        height: 60%;
        margin-bottom: 2rem;
        color: $text-color;
    }
    a{
        padding: 0.5rem;
        background-color: $clr-secondary;
        color: $text-color;
        text-decoration: none;
    }

}
.container-about{
    padding-top:15rem;
    .about{
        text-align: center;
        margin: 0 auto;
        width: 50%;
        margin-bottom: 10rem;
        h1{
            font-family: 'BenchNine', sans-serif;
            color: $text-color;
            font-size: 3rem;
        }
        h3{
            color: $clr-a;
            font-family: 'BenchNine', sans-serif;
            font-size: 1.8rem;
            a{
                color: $clr-secondary;
            }
        }
        p{
            color: $text-color;
            line-height: 1.5rem;
        }
    }
}
.sub-container-projects{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 17.5vw repeat(12, 1fr) 17.5vw;
    grid-template-rows: repeat(10, 10%);
    gap: 0.5rem;
}
.project{
    min-width: 100%;
    .pic{
        height: 60%;
        img{
            width: 100%;
        }
    }
}
.project-1{
    grid-area: 1/2/4/8;
}
.project-2{
    grid-area: 1/8/3/10;
    
}
.project-3{
    grid-area: 1/10/3/14;
}
.project-4{
    grid-area: 4/2/6/8;
}
.project-5{
    grid-area: 3/10/5/14;
}
.project-6{
    grid-area: 5/8/7/14;
}

.text{
    text-align: center;
    margin-top: 15%;
}
.button{
    margin: 1rem auto;
    font-size: 1.5rem;
    a{
        text-decoration: none;
        background-color: $clr-primary;
        color: $text-color;
        padding: 0.5rem;
        border-radius: 6px;
    }
    a:hover{
        background-color: $clr-secondary;
        border: solid 2px $clr-a;
        transition-duration: 1s;
    }
}
.container-contact{
padding-top: 10rem;
margin-bottom: 5rem;

form{
    display: flex;
    flex-direction: column;
}

.form-container{
    display: flex;
    justify-content: space-between;
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        label{
            margin-top: 5rem;
            color: $text-color;
        }
        input{
            width: 100%;
            padding: 0.5rem 0;
            background-color: transparent;
            border-radius: 6px;
            border: 1px solid $text-color;
            color: $text-color;
            }
            input:hover{
                border: $clr-primary solid 3px;
            }
            input:focus{
                background-color: $clr-primary;
            }
        }
    }
    .message{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        textarea{
            width: 100%;
            border-radius: 6px;
            border: 1px solid silver;
            background-color: transparent;
            color: $text-color;
        }
        textarea:hover{
            border: $clr-primary solid 3px;
        }
        textarea:focus{
            background-color: $clr-primary;
        }
    ::placeholder{
        color: $text-color;
    }
}
.submit{
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    input{
        padding: 0.5rem 2rem;
        background-color: transparent;
        border: $text-color solid 1px;
        border-radius: 16px;
        color: $text-color;
        cursor: pointer;
    }
}
}