@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@700&display=swap");
header .nav-top {
  display: flex;
  position: fixed;
  top: 2rem;
  left: 0;
  width: 100vw;
  margin: 2rem 0;
  background-color: rgba(37, 32, 32, 0.7);
  align-items: center;
  z-index: 100;
}
header .nav-top a {
  text-decoration: none;
  color: darkgoldenrod;
  padding: 1.2rem;
}
header .nav-top .icon {
  display: flex;
}
header .nav-top .icon img {
  width: 15%;
  opacity: 0.5;
}
header .nav-top .icon .name {
  margin-left: 1rem;
  margin-top: 0.5rem;
  color: white;
}
header .nav-top .icon .name h6 {
  letter-spacing: 0.05rem;
}
header .nav-top ul {
  display: flex;
  margin-left: auto;
}
header .nav-top ul li {
  display: flex;
  list-style-type: none;
  margin: 0 1rem;
}
header .nav-top ul li a:hover {
  border-bottom: #001d4f 3px solid;
  cursor: pointer;
}
header .burger-menu {
  display: none;
}

.nav-bottom {
  background-color: rgba(37, 32, 32, 0.7);
  width: 100vw;
  padding: 0.7rem;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  margin: 2rem 0;
}
.nav-bottom i {
  color: darkgoldenrod;
  font-size: 2rem;
}
.nav-bottom a:hover {
  transform: rotateY(180deg);
  cursor: pointer;
  transition: 1500ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to bottom, rgba(2, 0, 36, 0.01) 0%, rgba(8, 0, 2, 0.4) 0%, rgba(10, 1, 3, 0.7707457983) 100%), url(../../images/background-body.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container-home {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container-about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-contact {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  position: absolute;
  top: 40%;
  left: 17.5%;
}
main h1 {
  font-family: "BenchNine", sans-serif;
  font-size: 80px;
  color: #001d4f;
}
main p {
  width: 60%;
  height: 60%;
  margin-bottom: 2rem;
  color: silver;
}
main a {
  padding: 0.5rem;
  background-color: #001d4f;
  color: silver;
  text-decoration: none;
}

.container-about {
  padding-top: 15rem;
}
.container-about .about {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 10rem;
}
.container-about .about h1 {
  font-family: "BenchNine", sans-serif;
  color: silver;
  font-size: 3rem;
}
.container-about .about h3 {
  color: darkgoldenrod;
  font-family: "BenchNine", sans-serif;
  font-size: 1.8rem;
}
.container-about .about h3 a {
  color: #001d4f;
}
.container-about .about p {
  color: silver;
  line-height: 1.5rem;
}

.sub-container-projects {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 17.5vw repeat(12, 1fr) 17.5vw;
  grid-template-rows: repeat(10, 10%);
  gap: 0.5rem;
}

.project {
  min-width: 100%;
}
.project .pic {
  height: 60%;
}
.project .pic img {
  width: 100%;
}

.project-1 {
  grid-area: 1/2/4/8;
}

.project-2 {
  grid-area: 1/8/3/10;
}

.project-3 {
  grid-area: 1/10/3/14;
}

.project-4 {
  grid-area: 4/2/6/8;
}

.project-5 {
  grid-area: 3/10/5/14;
}

.project-6 {
  grid-area: 5/8/7/14;
}

.text {
  text-align: center;
  margin-top: 15%;
}

.button {
  margin: 1rem auto;
  font-size: 1.5rem;
}
.button a {
  text-decoration: none;
  background-color: #391128;
  color: silver;
  padding: 0.5rem;
  border-radius: 6px;
}
.button a:hover {
  background-color: #001d4f;
  border: solid 2px darkgoldenrod;
  transition-duration: 1s;
}

.container-contact {
  padding-top: 10rem;
  margin-bottom: 5rem;
}
.container-contact form {
  display: flex;
  flex-direction: column;
}
.container-contact .form-container {
  display: flex;
  justify-content: space-between;
}
.container-contact .form-container .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
.container-contact .form-container .info label {
  margin-top: 5rem;
  color: silver;
}
.container-contact .form-container .info input {
  width: 100%;
  padding: 0.5rem 0;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid silver;
  color: silver;
}
.container-contact .form-container .info input:hover {
  border: #391128 solid 3px;
}
.container-contact .form-container .info input:focus {
  background-color: #391128;
}
.container-contact .message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.container-contact .message textarea {
  width: 100%;
  border-radius: 6px;
  border: 1px solid silver;
  background-color: transparent;
  color: silver;
}
.container-contact .message textarea:hover {
  border: #391128 solid 3px;
}
.container-contact .message textarea:focus {
  background-color: #391128;
}
.container-contact .message ::placeholder {
  color: silver;
}
.container-contact .submit {
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}
.container-contact .submit input {
  padding: 0.5rem 2rem;
  background-color: transparent;
  border: silver solid 1px;
  border-radius: 16px;
  color: silver;
  cursor: pointer;
}
.container-contact .submit input:hover {
  background-color: #391128;
}

@media (min-width: 922px) and (max-width: 1200px) {
  .nav-top {
    margin: 2rem 0;
  }

  .nav-bottom {
    margin: 2rem 0;
  }

  main h1 {
    font-size: 60px;
  }
}
@media (min-width: 779px) and (max-width: 921px) {
  .nav-top {
    margin: 2rem 0;
  }
  .nav-top ul li a {
    padding: 0;
  }
  .nav-top .icon img {
    width: 10%;
  }

  .nav-bottom {
    margin: 2rem 0;
  }

  main h1 {
    font-size: 50px;
  }
}
@media (min-width: 600px) and (max-width: 778px) {
  header .nav-top {
    position: fixed;
    left: 0;
    width: 100vw;
    margin: 2rem 0;
  }
  header .nav-top ul {
    display: none;
  }
  header .nav-top .icon img {
    width: 10%;
  }
  header .burger-menu {
    position: fixed;
    top: 2rem;
    right: 5%;
    margin-left: auto;
    width: 4rem;
    display: flex;
    align-items: center;
    z-index: 110;
  }
  header .burger-menu .fas {
    position: fixed;
    right: 5%;
    font-size: 2.5rem;
    color: gray;
    cursor: pointer;
    position: absolute;
    top: 2rem;
  }
  header .burger-menu input[type=checkbox] {
    display: none;
    position: fixed;
    top: 2rem;
    right: 5%;
  }
  header .burger-menu input[type=checkbox]:checked ~ .burger__list {
    right: 0;
    display: flex;
  }
  header .burger-menu .burger__list {
    position: absolute;
    list-style: none;
    top: 4.5rem;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    background-color: rgba(57, 17, 40, 0.8);
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    width: 10rem;
    color: darkgoldenrod;
  }
  header .burger-menu .burger__list .burger__item {
    padding: 2rem 0rem;
  }
  header .burger-menu .burger__list .burger__item:hover,
header .burger-menu .burger__list .burger__item :visited,
header .burger-menu .burger__list .burger__item :link,
header .burger-menu .burger__list .burger__item :active {
    text-decoration: none;
    color: darkgoldenrod;
  }

  .nav-bottom {
    width: 100%;
    margin: 0;
  }

  .container-projects .sub-container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-projects .sub-container-projects .pic {
    display: flex;
    justify-content: center;
  }
  .container-projects .sub-container-projects a {
    align-self: center;
    width: 80%;
  }
}
@media (max-width: 599px) {
  header .nav-top {
    position: fixed;
    left: 0;
    width: 100vw;
    margin: 2rem 0;
  }
  header .nav-top ul {
    display: none;
  }
  header .nav-top .icon img {
    width: 10%;
  }
  header .burger-menu {
    position: fixed;
    top: 2rem;
    right: 5%;
    margin-left: auto;
    width: 4rem;
    display: flex;
    align-items: center;
    z-index: 110;
  }
  header .burger-menu .fas {
    position: fixed;
    right: 5%;
    font-size: 2.5rem;
    color: gray;
    cursor: pointer;
    position: absolute;
    top: 2rem;
  }
  header .burger-menu input[type=checkbox] {
    display: none;
    position: fixed;
    top: 2rem;
    right: 5%;
  }
  header .burger-menu input[type=checkbox]:checked ~ .burger__list {
    right: 0;
    display: flex;
  }
  header .burger-menu .burger__list {
    position: absolute;
    list-style: none;
    top: 4.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    background-color: rgba(57, 17, 40, 0.8);
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    width: 10rem;
  }
  header .burger-menu .burger__list .burger__item {
    padding: 1.5rem 0rem;
  }
  header .burger-menu .burger__list .burger__item:hover,
header .burger-menu .burger__list .burger__item :visited,
header .burger-menu .burger__list .burger__item :link,
header .burger-menu .burger__list .burger__item :active {
    text-decoration: none;
    color: darkgoldenrod;
  }

  .nav-bottom {
    width: 100%;
    margin: 0;
  }

  main {
    width: 100vw;
    left: 0;
    text-align: center;
  }
  main h1 {
    font-size: 30px;
  }
  main p {
    width: 80%;
    margin: 0 auto;
  }

  .container-about .about {
    width: 80%;
  }

  .container-projects .sub-container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-projects .sub-container-projects .pic {
    display: flex;
    justify-content: center;
  }
  .container-projects .sub-container-projects a {
    align-self: center;
    width: 80%;
  }

  .form-container {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
